<div class="cen">
    <div class="table">
        <div class="logo2">
            <img src="../素材/logocn.png">
        </div>
        <div class="form1">
            <form>
                <input id="username" class="form11" name="" type="text" placeholder="用户名"
                       onmouseover="this.style.backgroundColor='rgb(224,236,255)'"
                       onmouseout="this.style.backgroundColor='white'">
                <input id="password" class="form11" name="password" type="password" placeholder="密码"
                       onmouseover="this.style.backgroundColor='rgb(224,236,255)'"
                       onmouseout="this.style.backgroundColor='white'">
            </form>
        </div>
        <div class="login-in-btn">
            登录
        </div>
        <div class="block"></div>
        <div class="login-in-btn2">
            注册
        </div>
    </div>
</div>