
<div class="cen">
    <div class="table">
        <div class="logo2">
            <img src="../img/logocn.png">
        </div>
        <div class="form1">
            @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @onsubmit = "return validate_form(this)" }))
            {
                @Html.TextBox("username", "", new { @class = "form11", @placeholder = "用户名" });
                @Html.Password("password", "", new { @class = "form11", @placeholder = "密码" });
            <br /><span style="color:white;">(需要包含数字、符号、字母)</span>
                @Html.Password("repassword", "", new { @class = "form11", @placeholder = "重复密码" });
                <input type="submit" value="确认注册" class="login-in-btn" />
            }
        </div>
    </div>
</div>