<div class="adb">
    <div class="bg"></div>
    <div class="ad">
        <center>
            <div class="cen">
                <img name="randimg" src="~/img/d1.jpg">
            </div>
        </center>
    </div>
</div>