[v-cloak] {
    display: none !important;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea {
    outline: none;
    border: none;
}

input {
    outline: none;
}

.top {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background: url(../img/topbg.png);
    z-index: 999;
}

.bg {
    background: url(../img/bg2b.png);
    width: auto;
    height: 650px;
    filter: alpha(Opacity=8);
    opacity: 0.2;
    background-position: center top;
}

.cen {
    width: 1280px;
}

.adb {
    position: relative;
    top: 100px;
    background: rgb(72, 72, 72);
    height: 655px;
}

.top ul {
    width: 535px;
    float: left;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    margin-top: 27px;
    padding: 0;
}

.top li {
    float: left;
    margin-right: 5%;
    position: relative;
    overflow: hidden;
}

    .top li a {
        display: block;
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        text-decoration: none;
    }

        .top li a:hover {
            background-color: #111;
        }

.logo1 {
    float: left;
    width: 260px;
    height: 100px;
}

.logo2 {
    width: 260px;
    height: 100px;
    padding: 0 20px 10px 20px;
    margin: 0 auto;
}

.hl {
    float: left;
    width: 320px;
    height: 100px;
}

.menu2 {
    float: right;
    margin-right: -260px;
}

.ad {
    height: 650px;
    width: 100%;
    margin-left: 0;
    position: relative;
    top: -650px;
    margin-bottom: -650px;
}

.foot {
    height: 190px;
    width: 100%;
    background: url(../img/footbg.png);
    position: relative;
    top: 100px;
    background-position: center top;
}

.floatbar {
    position: fixed;
    right: 6px;
    top: 50%;
    z-index: 70;
    width: auto;
    font-size: 12px;
    margin-top: -158px;
}

    .floatbar ul {
        box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
        border-radius: 2px;
        background: #343e4b;
        padding-inline-start: 0px;
        list-style-type: none;
    }

    .floatbar li {
        position: relative;
    }

        .floatbar li a {
            display: block;
            width: 60px;
            height: 65px;
            text-align: center;
            color: #959595;
            text-decoration: none;
        }

            .floatbar li a:hover {
                background: #2f3744;
                color: #818C9B;
            }

        .floatbar li p {
            border-bottom: 1px solid #2d3642;
            margin: 6px 10px 0;
            padding-bottom: 0px;
        }

.guide {
    padding: 0 0 10px 50px;
    width: 1200px;
    margin: 0 auto;
}

    .guide h3 {
        color: #E4E8EE;
        font-weight: 700;
        margin: 9px 0;
        font-size: 18px;
    }

    .guide li {
        height: 32px;
        line-height: 32px;
    }

    .guide .guide-pre {
        width: 12px;
        height: 2px;
        background: #4773C8;
        font-size: 0;
        margin: 0 55px 2px 0;
    }

    .guide .line {
        background-image: linear-gradient(-90deg,rgba(39,42,44,0) 0,#4773c8 49%,rgba(39,42,44,0) 100%);
        *background: #4773C8;
        margin-top: 48px;
    }

.guide-section {
    float: left;
    width: 280px;
    height: 130px;
}

.guide ul li {
    list-style-type: none;
}

.foot a {
    text-decoration: none;
    color: #CCC;
}

    .foot a:hover {
        color: #F90;
    }

.guide ul {
    padding-inline-start: 0px;
}

.under {
    color: #ccc;
    align: center;
}

.hr1 {
    background: #0099FF;
    width: 1280px;
    border: none;
    height: 1px;
}

.help {
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 350px;
    text-align: center;
    top: 120px;
    background-color: rgba(50,50,50,0.6);
    padding: 10px 40px 60px 40px;
    position: relative;
}

.login-in-btn {
    font-size: 13px;
    font-weight: 500;
    line-height: 38px;
    background-color: rgb(90,225,125);
    background-color: rgba(90,225,125,0.9);
    color: #fff;
    border-radius: 2px;
    width: 298px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    -moz-transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    cursor: pointer;
    padding: 0 0px 0px 0.5px;
    margin-top: 25px;
}

    .login-in-btn:focus, .login-in-btn:hover {
        background-color: rgb(70,175,95);
        background-color: rgba(70,175,95,0.9);
    }

.login-in-btn2 {
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 38px;
    background-color: rgb(250,250,250);
    background-color: rgba(250,250,250,0.9);
    color: #fff;
    border-radius: 2px;
    width: 298px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    -moz-transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    cursor: pointer;
    padding: 0 0px 0px 0.5px;
    margin: 0 auto;
}

    .login-in-btn2:focus, .login-in-btn2:hover {
        background-color: rgb(240,80,90);
        background-color: rgba(240,80,90,0.9);
    }

.form1 {
    padding: 0 0px 5px 0px;
}

.form11 {
    width: 280px;
    height: 40px;
    padding-left: 10px;
    margin-top: 2px;
    border-radius: 5px;
}

.block {
    height: 3px;
}




.info-left {
    width: 240px;
    height: 570px;
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    background: rgb(200,200,200);
}

.info-right {
    width: 910px;
    height: 570px;
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    float: left;
    background: rgb(255,255,255);
    border-radius: 5px;
}

.cen2 {
    width: 1280px;
    height: 640px;
}

.mytx {
    padding: 36px 20px 20px;
}

.txpic {
    width: 80px;
    height: 80px;
}

.cont_panel {
    background: rgb(27,33,43);
    height: 570px;
}

h2 {
    color: white;
}

.my-menu {
    height: 350px;
    background: rgb(20,25,30);
}

    .my-menu a {
        text-decoration: none;
    }

    .my-menu ul {
        padding: 0 0 0 0;
    }

    .my-menu li {
        line-height: 70px;
        font-size: 14px;
        overflow: hidden;
        text-decoration: none;
        width: 240px;
        height: 70px;
        cursor: pointer;
    }

        .my-menu li a {
            display: block;
            color: #90969C;
            position: relative;
        }

            .my-menu li a:hover {
                color: #fff;
                text-shadow: 0 0 3px #fff;
            }

        .my-menu li.on a {
            color: #fff;
            text-shadow: 0 0 3px #fff;
        }

.textb {
    padding: 20px 50px 40px 50px;
    float: left;
}

.blank {
    height: 30px;
    width: 800px;
}

.tx2 {
    width: 50px;
    height: 50px;
}

.textb tr {
    display: block;
    height: 60px;
    border-bottom: rgb(192,192,192) 1px solid;
}

    .textb tr td {
        height: 60px;
        line-height: 60px;
        padding: 0;
    }

        .textb tr td.tbleft {
            height: 60px;
            width: 120px;
            line-height: 60px;
            color: #606060;
        }

        .textb tr td.tbcen {
            height: 60px;
            width: 600px;
            line-height: 60px;
        }

        .textb tr td.tblefts {
            height: 60px;
            width: 120px;
            line-height: 60px;
            color: #959595;
        }

        .textb tr td.tbright {
            height: 60px;
            line-height: 60px;
        }

.textb table {
    width: 800px;
    height: 200px;
}

.on {
    background: url(../img/bt.png) !important;
}

.on2 {
    background: url(../img/bt2.png);
}

.textb h3 {
    margin: 0;
    color: #000 !important;
}

.btnblue {
    color: #fff !important;
    background: #4773C8;
    text-decoration: none;
    height: 28px;
    width: 80px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.btnblue2 {
    color: #fff !important;
    background: #4773C8;
    text-decoration: none;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
}

.maintt {
    border-bottom: #959595 0px solid !important;
}

.blankqb {
    height: 20px;
    width: 910px;
    padding: 0 0 0 30px;
    position: relative;
    float: left;
}

.info-topright {
    height: 60px;
    width: 450px;
    padding: 30px 230px 30px 230px;
    background: url(../img/yuebg.png) no-repeat center top;
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    float: left;
}

.info-centerright {
    height: 53px;
    width: 910px;
    background-color: rgb(27,33,43);
    margin-left: 30px;
    position: relative;
    float: left;
}

.info-underright {
    height: 357px;
    width: 800px;
    padding: 20px 55px 0;
    background-color: rgb(255,255,255);
    margin-left: 30px;
    position: relative;
    float: left;
}

.ulqb {
    margin: 0;
    padding: 0;
}

    .ulqb li {
        width: 170px;
        height: 52px;
        line-height: 52px;
        border-right: 1px solid #303B4F;
        float: left;
        font-size: 15px;
        text-align: center;
        color: #929394;
        cursor: pointer;
    }

.on3 {
    background: url(../img/bt3.png);
}

.on4 {
    color: #FFF !important;
    font-weight: 700;
    background: url(../img/bt4.png) !important;
}

.on5 {
    border: 1px solid #EEA20E !important;
    font-weight: 700;
    font-size: 18px !important;
    color: #EEA20E !important;
}

.on6 {
    border: 1px solid #EEA20E !important;
}

.on7 {
    border: 1px solid #EEA20E !important;
    font-size: 18px !important;
    color: #EEA20E !important;
}

.on8 {
    border: 1px solid #EEA20E !important;
}

.yue {
    height: 60px;
    line-height: 60px;
    width: 200px;
    float: left;
    color: #929394;
    font-size: 27px;
}

.yueq {
    height: 60px;
    line-height: 60px;
    width: 250px;
    float: left;
    color: #eea20e;
    font-size: 40px;
}

.tbqb {
    width: 100%;
}

    .tbqb tbody tr td {
        height: 78px;
        line-height: 78px;
        color: #959595;
    }

.czqb {
    border: none;
    height: 34px;
    width: 90%;
    outline: none;
}

.qbline1 span {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 0 6px;
    margin: 0 4px 0 0;
    color: #515151;
    min-width: 90px;
    line-height: 38px;
    height: 36px;
    position: relative;
    border: 1px solid #E3E3E3;
    font-size: 16px;
    border-radius: 4px;
    vertical-align: middle;
}

.qbline2 span {
    margin-right: 11px;
    min-width: 122px;
    color: #515151;
    border: 1px solid #E3E3E3;
    padding: 0 15px;
    float: left;
    line-height: 46px;
    height: 46px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/*4¡ª¡ª3*/

.info-left {
    width: 240px;
    height: 570px;
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    background: rgb(200,200,200);
}

.info-right {
    width: 910px;
    height: 570px;
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    float: left;
    background: rgb(255,255,255);
    border-radius: 5px;
}

.cen2 {
    width: 1280px;
    height: 640px;
    background-color: rgba(0,0,0,0~1);
}

.mytx {
    padding: 36px 20px 20px;
}

.txpic {
    width: 80px;
    height: 80px;
}

.cont_panel {
    background: rgb(27,33,43);
    height: 570px;
}

h2 {
    color: white;
}

.my-menu {
    height: 350px;
    background: rgb(20,25,30);
}

    .my-menu a {
        text-decoration: none;
    }

    .my-menu ul {
        padding: 0 0 0 0;
    }

    .my-menu li {
        line-height: 70px;
        font-size: 14px;
        overflow: hidden;
        text-decoration: none;
        width: 240px;
        height: 70px;
        cursor: pointer;
    }

        .my-menu li a {
            display: block;
            color: #90969C;
            position: relative;
        }

            .my-menu li a:hover {
                color: #fff;
                text-shadow: 0 0 3px #fff;
            }

        .my-menu li.on a {
            color: #fff;
            text-shadow: 0 0 3px #fff;
        }

.textb {
    padding: 20px 50px 40px 50px;
    float: left;
}

.blank {
    background-color: rgba(0,0,0,0~1);
    height: 30px;
    width: 800px;
}

.tx2 {
    width: 50px;
    height: 50px;
}

.textb tr {
    display: block;
    height: 60px;
    border-bottom: rgb(192,192,192) 1px solid;
}

    .textb tr td {
        height: 60px;
        line-height: 60px;
        padding: 0;
    }

        .textb tr td.tbleft {
            height: 60px;
            width: 120px;
            line-height: 60px;
            color: #606060;
        }

        .textb tr td.tbcen {
            height: 60px;
            width: 600px;
            line-height: 60px;
        }

        .textb tr td.tblefts {
            height: 60px;
            width: 120px;
            line-height: 60px;
            color: #959595;
        }

        .textb tr td.tbright {
            height: 60px;
            line-height: 60px;
        }

.textb table {
    width: 800px;
    height: 200px;
}

.on {
    background: url(../img/bt.png) !important;
}

.on2 {
    background: url(../img/bt2.png);
}

.textb h3 {
    margin: 0;
    color: #000 !important;
}

.btnblue {
    color: #fff !important;
    background: #4773C8;
    text-decoration: none;
    height: 28px;
    width: 80px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.btnblue2 {
    color: #fff !important;
    background: #4773C8;
    text-decoration: none;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
}

.maintt {
    border-bottom: #959595 0px solid !important;
}

.blankqb {
    height: 20px;
    width: 910px;
    padding: 0 0 0 30px;
    position: relative;
    float: left;
}

.info-topright {
    height: 60px;
    width: 450px;
    padding: 30px 230px 30px 230px;
    background: url(../img/yuebg.png) no-repeat center top;
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    float: left;
}

.info-centerright {
    height: 53px;
    width: 910px;
    background-color: rgb(27,33,43);
    margin-left: 30px;
    position: relative;
    float: left;
}

.info-underright {
    height: 357px;
    width: 800px;
    padding: 20px 55px 0;
    background-color: rgb(255,255,255);
    margin-left: 30px;
    position: relative;
    float: left;
}

.ulqb {
    margin: 0;
    padding: 0;
}

    .ulqb li {
        width: 170px;
        height: 52px;
        line-height: 52px;
        border-right: 1px solid #303B4F;
        float: left;
        font-size: 15px;
        text-align: center;
        color: #929394;
        cursor: pointer;
    }

.on3 {
    background: url(../img/bt3.png);
}

.on4 {
    color: #FFF !important;
    font-weight: 700;
    background: url(../img/bt4.png) !important;
}

.on5 {
    border: 1px solid #EEA20E !important;
    font-weight: 700;
    font-size: 18px !important;
    color: #EEA20E !important;
}

.on6 {
    border: 1px solid #EEA20E !important;
}

.on7 {
    border: 1px solid #EEA20E !important;
    font-size: 18px !important;
    color: #EEA20E !important;
}

.on8 {
    border: 1px solid #EEA20E !important;
}

.yue {
    height: 60px;
    line-height: 60px;
    width: 200px;
    float: left;
    color: #929394;
    font-size: 27px;
}

.yueq {
    height: 60px;
    line-height: 60px;
    width: 250px;
    float: left;
    color: #eea20e;
    font-size: 40px;
}

.tbqb {
    width: 100%;
}

    .tbqb tbody tr td {
        height: 78px;
        line-height: 78px;
        color: #959595;
    }

.czqb {
    border: none;
    height: 34px;
    width: 90%;
    outline: none;
}

.qbline1 span {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 0 6px;
    margin: 0 4px 0 0;
    color: #515151;
    min-width: 90px;
    line-height: 38px;
    height: 36px;
    position: relative;
    border: 1px solid #E3E3E3;
    font-size: 16px;
    border-radius: 4px;
    vertical-align: middle;
}

.qbline2 span {
    margin-right: 11px;
    min-width: 122px;
    color: #515151;
    border: 1px solid #E3E3E3;
    padding: 0 15px;
    float: left;
    line-height: 46px;
    height: 46px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.kuangk {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1050px;
}

.left_panel {
    float: left;
    width: 250px;
    height: 570px;
    background-color: #1b1f2a;
}

.main_panel {
    float: left;
    width: 910px;
    height: 570px;
    background-color: #fff;
}

.left_choose_menu {
    width: 100%;
    height: 105px;
    background-color: #2c3040;
    margin: 0 0 1px;
}

.choose_class {
    height: 100%;
    width: 20px;
    background-color: #232836;
    float: left;
    padding: 0 15px;
}

    .choose_class a {
        display: block;
        width: 15px;
        height: 50%;
        color: #d7b35a;
        margin-top: 3px;
    }

.choose_list {
    height: 105px;
}

    .choose_list ul {
        margin: 0;
    }

        .choose_list ul li {
            float: left;
            height: 24px;
            width: 40px;
            margin-top: 3px;
            margin-left: 5px;
            color: white;
            display: block;
        }

.choose_div {
    display: block;
    height: 24px;
    width: 40px;
}

    .choose_div:hover {
        border: 2px solid rgb(178,178,178);
        height: 20px !important;
        width: 36px !important;
        margin-top: -2px;
    }

.choosecheck {
    border: 2px solid rgb(178,178,178) !important;
    height: 20px !important;
    width: 36px !important;
    margin-top: -2px;
}

.main_choose_menu {
    width: 910px;
    height: 48px;
    margin: 0;
    background: #1C202B;
}

.choose_menu_left {
    height: 28px;
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-top: 9px;
    border-top: 1px solid #45536c;
    border-left: 1px solid #45536c;
    border-bottom: 1px solid #45536c;
}

    .choose_menu_left ul {
        padding: 0;
        margin: 0;
    }

.sort_way {
    height: 28px;
    float: left;
    background-color: #1c202b;
    border-right: 1px solid #45536c;
    margin: 0;
    width: 99px;
    color: #63779B;
    line-height: 28px;
    font-size: 15px;
    cursor: pointer;
}

.sort_way2 {
    height: 28px;
    float: left;
    background-color: #45536c;
    border-right: 1px solid #45536c;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 99px;
    color: #fff;
    border-left-width: 0px;
    line-height: 28px;
    font-size: 15px;
}

.search_bar {
    width: 300px;
    height: 28px;
    float: right;
    margin-top: 9px;
    margin-right: 10px;
    background-color: #1b1f2a;
    border: 1px solid #3F5D97;
    border-radius: 2px;
}

.searchbox {
    float: left;
    height: 28px;
    width: 190px;
    margin: 0;
    border: 0;
    padding: 0 0 0 10px;
    background: rgba(72,134,255,.16);
    outline: none;
    color: #E4E8EE;
}

.searchbtn {
    background-color: #3F5D97;
    color: #E1E5EC;
    height: 29px;
    width: 100px;
    line-height: 28px;
    display: block;
    float: right;
}

a.searchbtn:hover {
    background-color: #4773C8;
}

.main_goods_list {
    height: 485px;
}

.goods_div {
    position: relative;
    float: left;
    width: 210px;
    height: 225px;
    background-color: #fff;
    border: 1px solid #E4E4E4;
    margin: 10px 5px 0 9px;
}

a.goods_div {
    position: relative;
    float: left;
    width: 210px;
    height: 225px;
    background-color: #fff;
    border: 1px solid #E4E4E4;
    margin: 10px 5px 0 9px;
}

    a.goods_div:hover {
        border: 1px solid #EEA20C;
        background-color: #fcf7ec;
    }

.goods_img {
    width: 210px;
    height: 138px;
}

.goodsimg {
    width: 210px;
    height: 138px;
}

.goods_date {
    padding: 10px 0 0 15px;
    width: 195px;
    color: #000;
    text-align: left;
}

.goods_price {
    padding: 5px 0 0 10px;
    width: 200px;
    color: #EEA20E;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}

    .goods_price small {
        font-size: 14px;
        font-weight: bold;
    }

a.chpa:hover {
    border: 1px solid #45536C;
}

.change_page {
    width: 165px;
    height: 25px;
    margin: 1px auto 5px;
}

.change_buttom1 {
    width: 60px;
    height: 90%;
    float: left;
    background-color: #fff;
    color: #45536C;
    border: 1px solid #E4E4E4;
}

.change_buttom2 {
    width: 60px;
    height: 90%;
    float: right;
    background-color: #fff;
    color: #45536C;
    border: 1px solid #E4E4E4;
}

.page_number {
    float: left;
    width: 30px;
    height: 90%;
    margin-left: 5px;
    color: #45536C;
    border: 1px solid #E4E4E4;
}

.tag {
    position: relative;
    top: -209px;
    left: -76px;
    font-size: 12px;
    border-radius: 2px;
    color: #FFF;
    padding: 0 5px;
    width: 30px;
}

.tag_common {
    background: rgb(51,53,59);
}

.tag_rare {
    background: rgb(124,143,245);
}

.tag_mythical {
    background: rgb(168,118,249);
}

.tag_legendary {
    background: rgb(220,94,234);
}

.tag_immortal {
    background: rgb(242,177,102);
}

.tag_arcana {
    background: rgb(154,204,76);
}

.reset {
    color: rgb(178,178,178);
}

.common {
    color: rgb(176,195,217);
}

.uncommon {
    color: rgb(175,176,178);
}

.rare {
    color: rgb(124,143,245);
}

.mythical {
    color: rgb(168,118,249);
}

.immortal {
    color: rgb(242,177,102);
}

.ancient {
    color: rgb(235,75,75);
}

.legendary {
    color: rgb(220,94,234);
}

.arcana {
    color: rgb(154,204,76);
}

#sell_price {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
}

.price_text {
    color: #EEA20E;
    font-size: 17px;
}

.sell_btn {
    position: absolute;
    display:block;
    bottom: 10px;
    width: 100px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eea20e;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#sell_ipt {
    width: 160px;
    height: 20px;
    border: 1px solid red;
}

.sell_btn2 {
    position: absolute;
    display:block;
    bottom: 60px;
    width: 100px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eea20e;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

.goods_div_hide {
    display: none;
    position: relative;
    float: left;
    width: 210px;
    height: 225px;
    background-color: #fff;
    border: 1px solid #E4E4E4;
    margin: 10px 5px 0 9px;
}

#showimg{
    width:210px;
    height:138px;
}

.hor_list {
    height: 59px;
    width: 100%-40px;
    border-bottom: 1px black solid;
    line-height: 60px;
    padding: 0 20px;
}

.f_left {
    float: left;
}

.f_right {
    float: right;
}

#cj {
    width: 600px;
    height: 240px;
    margin-top: 100px;
    background-color: white;
}

#cj_button {
    width: 120px;
    height: 50px;
    margin-top: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
}

.little_box {
    float: left;
    width: 106px;
    height: 106px;
    margin: 2px;
    background: url(../ËØ²Ä/sp/am1.jpg);
    border: 5px red solid;
}