html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

input, textarea {
    outline: none;
    border: none;
}
.top {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background: url(../img/topbg.png);
    z-index: 999;
}

.bg {
    background: url(../img/bg2b.png);
    width: auto;
    height: 650px;
    filter: alpha(Opacity=8);
    opacity: 0.2;
    background-position: center top;
}

.cen {
    width: 1280px;
}

.adb {
    position: relative;
    top: 100px;
    background: rgb(72, 72, 72);
    height: 655px;
}

.top ul {
    width: 350px;
    float: left;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    margin-top: 27px;
    padding: 0;
}

.top li {
    float: left;
    margin-right: 5%;
    position: relative;
    overflow: hidden;
}

    .top li a {
        display: block;
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        text-decoration: none;
    }

        .top li a:hover {
            background-color: #111;
        }

.logo1 {
    float: left;
    width: 260px;
    height: 100px;
}

.logo2 {
    float: left;
    width: 260px;
    height: 100px;
    padding: 0 20px 10px 20px;
    margin:0 auto;
}

.hl {
    float: left;
    width: 320px;
    height: 100px;
}

.menu2 {
    float: right;
    margin-right: -260px;
}

.ad {
    height: 650px;
    width: 100%;
    margin-left: 0;
    position: relative;
    top: -650px;
    margin-bottom: -650px;
}

.foot {
    height: 190px;
    width: 100%;
    background: url(../img/footbg.png);
    position: relative;
    top: 100px;
    background-position: center top;
}

.floatbar {
    position: fixed;
    right: 6px;
    top: 50%;
    z-index: 70;
    width: auto;
    font-size: 12px;
    margin-top: -158px;
}

    .floatbar ul {
        box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
        border-radius: 2px;
        background: #343e4b;
        padding-inline-start: 0px;
        list-style-type: none;
    }

    .floatbar li {
        position: relative;
    }

        .floatbar li a {
            display: block;
            width: 60px;
            height: 65px;
            text-align: center;
            color: #959595;
            text-decoration: none;
        }

            .floatbar li a:hover {
                background: #2f3744;
                color: #818C9B;
            }

        .floatbar li p {
            border-bottom: 1px solid #2d3642;
            margin: 6px 10px 0;
            padding-bottom: 0px;
        }

.guide {
    padding: 0 0 10px 50px;
    width: 1200px;
    margin: 0 auto;
}

    .guide h3 {
        color: #E4E8EE;
        font-weight: 700;
        margin: 9px 0;
        font-size: 18px;
    }

    .guide li {
        height: 32px;
        line-height: 32px;
    }

    .guide .guide-pre {
        width: 12px;
        height: 2px;
        background: #4773C8;
        font-size: 0;
        margin: 0 55px 2px 0;
    }

    .guide .line {
        background-image: linear-gradient(-90deg,rgba(39,42,44,0) 0,#4773c8 49%,rgba(39,42,44,0) 100%);
        *background: #4773C8;
        margin-top: 48px;
    }

.guide-section {
    float: left;
    width: 280px;
    height: 130px;
}

.guide ul li {
    list-style-type: none;
}

.foot a {
    text-decoration: none;
    color: #CCC;
}

    .foot a:hover {
        color: #F90;
    }

.guide ul {
    padding-inline-start: 0px;
}

.under {
    color: #ccc;
    align: center;
}

.hr1 {
    background: #0099FF;
    width: 1280px;
    border: none;
    height: 1px;
}

.help {
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 350px;
    text-align: center;
    top: 120px;
    background-color: rgba(50,50,50,0.6);
    padding: 10px 40px 60px 40px;
    position: relative;
}

.login-in-btn {
    font-size: 13px;
    font-weight: 500;
    line-height: 38px;
    background-color: rgb(90,225,125);
    background-color: rgba(90,225,125,0.9);
    color: #fff;
    border-radius: 2px;
    width: 298px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    -moz-transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    cursor: pointer;
    padding: 0 0px 0px 0.5px;
    margin-top: 25px;
}

    .login-in-btn:focus, .login-in-btn:hover {
        background-color: rgb(70,175,95);
        background-color: rgba(70,175,95,0.9);
    }

.login-in-btn2 {
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 38px;
    background-color: rgb(250,250,250);
    background-color: rgba(250,250,250,0.9);
    color: #fff;
    border-radius: 2px;
    width: 298px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    -moz-transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
    cursor: pointer;
    padding: 0 0px 0px 0.5px;
    margin:0 auto;
}

    .login-in-btn2:focus, .login-in-btn2:hover {
        background-color: rgb(240,80,90);
        background-color: rgba(240,80,90,0.9);
    }

.form1 {
    padding: 0 0px 5px 0px;
}

.form11 {
    width: 280px;
    height: 40px;
    padding-left: 10px;
    margin-top: 2px;
    border-radius: 5px;
}

.block {
    height: 3px;
}


.kuangk {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1050px;
}

.left_panel {
    float: left;
    width: 250px;
    min-height: 630px;
    background-color: #1b1f2a;
}

.main_panel {
    float: left;
    width: 800px;
    min-height: 630px;
    background-color: #1b1f2a;
}

.left_choose_menu {
    width: 100%;
    height: 100px;
    background-color: #2c3040;
    margin: 5px 0;
}

.choose_class {
    height: 100%;
    width: 20px;
    background-color: #232836;
    float: left;
    padding: 0 15px;
}

    .choose_class a {
        display: block;
        width: 15px;
        height: 50%;
        color: #d7b35a;
        margin-top: 18px;
    }

.choose_div {
    float: left;
    height: 30px;
    width: 45px;
    margin-top: 3px;
    margin-left: 5px;
    color: white;
}

.main_choose_menu {
    width: 98%;
    height: 30px;
    margin: 5px auto;
    color: #d7b35a;
}

.sort_way {
    height: 90%;
    width: 100px;
    float: left;
    margin: auto 5px;
    background-color: #2c3040;
}

.search_bar {
    width: 250px;
    height: 90%;
    float: right;
    margin: auto 5px;
    background-color: #1b1f2a;
}

    .search_bar input {
        float: left;
        height: 80%;
        margin: auto 0;
    }

.main_goods_list {
    height: 555px;
    width: 98%;
}

.goods_div {
    float: left;
    margin: 0 0 5px 5px;
    width: 150px;
    height: 180px;
    background-color: #2c3040;
}

.goods_img {
    width: 140px;
    height: 120px;
    margin: 5px;
    background-color: white;
}

.goods_date {
    width: 140px;
    margin: 0 5px;
    color: white;
}

.change_page {
    width: 160px;
    height: 25px;
    margin: 5px auto;
}

.change_buttom1 {
    width: 60px;
    height: 90%;
    float: left;
    background-color: #2c3040;
    color: white;
}

.change_buttom2 {
    width: 60px;
    height: 90%;
    float: right;
    background-color: #2c3040;
    color: white
}

.page_number {
    float: left;
    width: 30px;
    height: 90%;
    margin-left: 5px;
    color: white
}
